.headFoot {
  padding: 16px 16px;
  display: flex;
}

.headFootWrapper {
  width: 100%;
  color: var(--white);
  padding: 0 60px 20px;
  border-bottom: 1px solid var(--light-grey);

  @media (max-width: 580px) {
    padding: 0 20px 20px;
  }
}

.headLink {
  transition: 0.3s;
}

.headLink:hover {
  color: var(--blue-color);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  @media (max-width: 440px) {
    flex-direction: column;
  }
}

.flexCol {
  @media (max-width: 580px) {
    flex-direction: column;
  }
}


.container {
  max-width: 1440px;
  margin: 0 auto;
}

.img {
  border-radius: 50%;
}