.headFoot {
  padding: 16px 16px;
  display: flex;
}

.headFootWrapper {
  width: 100%;
  color: var(--white);
  padding: 0 60px 20px;
  border-bottom: 1px solid var(--light-grey);
}

.headLink {
  transition: 0.3s;
}

.headLink:hover {
  color: var(--blue-color);
}








.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
}