@import "../Header/style.module.scss";


.headFoot {
    background-color: var(--green);
    width: 100%;
    padding: 16px 0;
}

.footer {
    padding: 16px 0 0 0
}

.footerWrapper {
    background-color: #C8E6C9;
    height: 60px;
}

.footerItems {
    justify-content: space-around;
    height: 60px;
}

.GHLink {
    position: relative;
    transition: 0.3s;
}

.GHLink:hover {
    color: var(--blue-color);
}

.GHIcon {
    position: absolute;
    top: -15px;
    left: 100px;

}

/*svg path {*/
/*    transition: 0.3s;*/
/*}*/

/*svg:hover path {*/
/*    fill: var(--blue-color);*/
/*}*/
