.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px;
}

.linksList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
}

.link {
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: blue;
  }
}

.mainWrap {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.tablesWrapper {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapItem {
  border: 1px solid grey;
  opacity: 0.5;
  border-radius: 10px;
  padding: 6px 10px;
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 1px solid black;
    opacity: 1;
  }
}

.itemInfo {
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: blue;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapHead {
  margin-bottom: 16px;
}