.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px;
}

.main {
  padding: 30px 30px;
}

.linksList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
  }
}

.link {
  border: 1px solid var(--dark-blue-color);
  padding: 0 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    background: var(--dark-blue-color);
    color: var(--white);
  }
}

.mainWrap {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.tablesWrapper {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapItem {
  border: 1px solid grey;
  opacity: 0.5;
  border-radius: 10px;
  padding: 6px 10px;
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 1px solid black;
    opacity: 1;
  }
}

.itemInfo {
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: var(--dark-blue-color);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapHead {
  margin-bottom: 16px;
}

.textStyle {
  padding: 8px 16px;
}